---
title: Outcomes
---
<h1>{{ page.title }}</h1>
Outcomes from projects where LEAPS WG3 members were involved are listed here.
{% assign sorted_outcomes = site.data.outcomes | sort_natural %}
<ul>
  {% for outcome in sorted_outcomes %}
    {% assign uniqid = outcome.name | split: " " | join: "-" %}
    <li><a href="#{{ uniqid }}">{{ outcome.name }}</a></li>
  {% endfor %}
</ul>

{% for outcome in sorted_outcomes %}
  {% assign uniqid = outcome.name | split: " " | join: "-" %}
  <h1 id="{{uniqid}}">
    {{ outcome.name }}
    {% if outcome.doi %}<a href="https://doi.org/{{ outcome.doi }}"><img src="https://zenodo.org/badge/DOI/{{ outcome.doi }}.svg" alt="(link)" style="float: right"></a>{% endif %}
    {% if outcome.keywords %}
      {% assign keywords = outcome.keywords | split: ", " | sort_natural %}
      {% for keyword in keywords %}
        <span class="sticker">{{ keyword }}</span>
      {% endfor %}
    {% endif %}
  </h1>
  <p>
    {% if outcome.description %}<strong>Description:</strong> {{ outcome.description }}<br>{% endif %}
    {% if outcome.project %}<strong>Project:</strong> {{ outcome.project }}<br>{% endif %}
    {% if outcome.status %}<strong>Status:</strong> {{ outcome.status | capitalize }}<br>{% endif %}
    {% if outcome.last-update %}<strong>Last update:</strong> {{ outcome.last-update | date: "%Y-%m-%d" }}<br>{% endif %}
  </p>
{% endfor %}

<h1>Adoption status</h1>
{% assign adoption_outcomes = site.data.outcomes | sort_natural %} <!-- must be filtered according to need for a facility-based adoption or not -->
<table>
  <tr>
    <th><strong>Facility</strong></th>
    {% for outcome in adoption_outcomes %}
      <th>{{ outcome.short-name }}</th>
    {% endfor %}
  </tr>
  {% for facility in site.data.facilities %}
  <tr>
    <td>{{ facility.short-name }}</td>
      {% for outcome in adoption_outcomes %}
        <!-- make this better -->
        {% if facility.adoption.adopted contains outcome.short-name %}
          <td class='adopted'>Y</td>
        {% elsif facility.adoption.wip contains outcome.short-name %}
          <td class='wip'>WIP</td>
        {% elsif facility.adoption.planned contains outcome.short-name %}
          <td class='planned'>P</td>
        {% elsif facility.adoption.under-eval contains outcome.short-name %}
          <td class='ue'>U</td>
        {% elsif facility.adoption.not contains outcome.short-name %}
          <td class='no'>N</td>
        {% else %}
          <td></td>
        {% endif %}
      {% endfor %}
  </tr>
  {% endfor %}  
</table>

<!-- legend -->
<table>
  <tr>
    <td class='adopted'>Yes, already adopted (Y)</td>
    <td class='no'>Will not be adopted (N)</td>
  </tr>
  <tr>
    <td class='planned'>Planned to be adopted (P)</td>
    <td class='ue'>Under evaluation (U)</td>
  </tr>
  <tr>
    <td class='wip' colspan='2'>In the progress of being adopted (WIP)</td>
  </tr>
</table>
